<section role="main" aria-label="Página não encontrada">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center content" aria-live="assertive">
				<h1><img src="../../assets/assets/images/icons/logo.svg" alt="Logo da MewmewDev Portfolio"> 404 </h1>
				<p>Página não encontrada!</p>
				<a href="/" aria-label="Ir para a página inicial">
					<button role="button">
						<img src="../../assets/assets/images/icons/icon_home.svg" alt="Icone de casa"> Ir para a página inicial
					</button>
				</a>
			</div>
		</div>
	</div>
</section>
