<section class="container-fluid projects" id="projects" aria-labelledby="homeHeading">
	<div class="container">
	  <div class="row flex-wrap">
		<h2 class="about__title"><span> 02. </span>About Me <div class="line"></div></h2>
  
		<div class="col-sm-6 col-md-4 col-lg-3 custom-size" *ngFor="let card of cardsInfo">
		  <div class="card custom-card rounded-0">
			<img class="card-img-top rounded-0" [src]="card.imgSrc" alt="{{card.altText}}" width="300" height="200">
			<div class="card-badges">
			  <span class="badge badge-pill badge-light" *ngFor="let badge of card.badges">{{ badge }}</span>
			</div>
			<div class="card-body">
			  <h3 class="card-title">{{ card.title }}</h3>
			  <p class="card-text">{{ card.text }}</p>
			  <div class="container-btns">
				<a [href]="card.liveLink" target="_blank" class="btn btn-primary">
				  <div class="btn-content">
					Ver
					<svg width="32" height="32" viewBox="0 0 100 100" class="toolbar__logo">
					  <image href="../../assets/assets/images/icons/icon_live.svg" width="100" height="100"/>
					</svg>
				  </div>
				</a>
				<a [href]="card.codeLink" target="_blank" class="btn btn-primary">
				  <div class="btn-content">
					Código
					<svg width="32" height="32" viewBox="0 0 100 100" class="toolbar__logo">
					  <image href="../../assets/assets/images/icons/icon_programming.svg" width="100" height="100"/>
					</svg>
				  </div>
				</a>
			  </div>
			</div>
		  </div>
		</div>
  
		<button class="projects__button" aria-label="Saiba mais sobre os projetos">Veja mais projetos</button>
	  </div>
	</div>
  </section>
  