<section class="container-fluid projects" aria-labelledby="homeHeading">
	<div class="container">
	  <div class="row flex-wrap">
		<h2 class="about__title"><span> 02. </span>About Me <div class="line"></div></h2>
		<div class="col-sm-6 col-md-4 col-lg-3 custom-size">
		  <div class="card custom-card rounded-0">
			<img class="card-img-top rounded-0" src="../../assets/assets/images/placeholder.png" alt="Card image cap " width="300" height="200">
			<div class="card-badges">
				<span class="badge badge-pill badge-light">Typescript</span>
				<span class="badge badge-pill badge-light">Angular</span>
				<span class="badge badge-pill badge-light">Material UI</span>
			</div>
			<div class="card-body">
			  <h5 class="card-title">Lorem Ipsum</h5>
			  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			  <div class="container-btns">
				<a href="#"  target="_blank" class="btn btn-primary">
				  <div class="btn-content">
					Ver
					<svg width="32" height="32" viewBox="0 0 100 100" class="toolbar__logo">
					  <image href="../../assets/assets/images/icons/icon_live.svg" width="100" height="100"/>
					</svg>
				  </div>
				</a>
				<a href="#"  target="_blank" class="btn btn-primary">
				  <div class="btn-content">
					Código
					<svg width="32" height="32" viewBox="0 0 100 100" class="toolbar__logo">
					  <image href="../../assets/assets/images/icons/icon_programming.svg" width="100" height="100"/>
					</svg>
				  </div>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 custom-size">
			<div class="card custom-card rounded-0">
				<img class="card-img-top rounded-0" src="../../assets/assets/images/placeholder.png" alt="Card image cap " width="300" height="200">
				<div class="card-badges">
					<span class="badge badge-pill badge-light">Typescript</span>
					<span class="badge badge-pill badge-light">Angular</span>
					<span class="badge badge-pill badge-light">Material UI</span>
				</div>
			<div class="card-body">
				<h5 class="card-title">Lorem Ipsum</h5>
				<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<div class="container-btns">
					<a href="#"  target="_blank" class="btn btn-primary">
					  <div class="btn-content">
						Ver
						<svg width="32" height="32" viewBox="0 0 100 100" class="toolbar__logo">
						  <image href="../../assets/assets/images/icons/icon_live.svg" width="100" height="100"/>
						</svg>
					  </div>
					</a>
					<a href="#"  target="_blank" class="btn btn-primary">
					  <div class="btn-content">
						Código
						<svg width="32" height="32" viewBox="0 0 100 100" class="toolbar__logo">
						  <image href="../../assets/assets/images/icons/icon_programming.svg" width="100" height="100"/>
						</svg>
					  </div>
					</a>
				  </div>
			</div>
		  </div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 custom-size">
			<div class="card custom-card rounded-0">
				<img class="card-img-top rounded-0" src="../../assets/assets/images/placeholder.png" alt="Card image cap " width="300" height="200">
				<div class="card-badges">
					<span class="badge badge-pill badge-light">Typescript</span>
					<span class="badge badge-pill badge-light">Angular</span>
					<span class="badge badge-pill badge-light">Material UI</span>
				</div>
			<div class="card-body">
				<h5 class="card-title">Lorem Ipsum</h5>
				<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<div class="container-btns">
					<a href="#"  target="_blank" class="btn btn-primary">
					  <div class="btn-content">
						Ver
						<svg width="32" height="32" viewBox="0 0 100 100" class="toolbar__logo">
						  <image href="../../assets/assets/images/icons/icon_live.svg" width="100" height="100"/>
						</svg>
					  </div>
					</a>
					<a href="#"  target="_blank" class="btn btn-primary">
					  <div class="btn-content">
						Código
						<svg width="32" height="32" viewBox="0 0 100 100" class="toolbar__logo">
						  <image href="../../assets/assets/images/icons/icon_programming.svg" width="100" height="100"/>
						</svg>
					  </div>
					</a>
				  </div>
			</div>
		  </div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 custom-size">
			<div class="card custom-card rounded-0">
				<img class="card-img-top rounded-0" src="../../assets/assets/images/placeholder.png" alt="Card image cap " width="300" height="200">
				<div class="card-badges">
					<span class="badge badge-pill badge-light">Typescript</span>
					<span class="badge badge-pill badge-light">Angular</span>
					<span class="badge badge-pill badge-light">Material UI</span>
				</div>
			<div class="card-body">
				<h5 class="card-title">Lorem Ipsum</h5>
				<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<div class="container-btns">
					<a href="#"  target="_blank" class="btn btn-primary">
					  <div class="btn-content">
						Ver
						<svg width="32" height="32" viewBox="0 0 100 100" class="toolbar__logo">
						  <image href="../../assets/assets/images/icons/icon_live.svg" width="100" height="100"/>
						</svg>
					  </div>
					</a>
					<a href="#"  target="_blank" class="btn btn-primary">
					  <div class="btn-content">
						Código
						<svg width="32" height="32" viewBox="0 0 100 100" class="toolbar__logo">
						  <image href="../../assets/assets/images/icons/icon_programming.svg" width="100" height="100"/>
						</svg>
					  </div>
					</a>
				  </div>
			</div>
		  </div>
		</div>

		<button class="projects__button" aria-label="Saiba mais sobre os projetos">Veja mais projetos</button>
	  </div>
	</div>
  </section>
  