<mat-toolbar role="navigation" class="toolbar" aria-label="Navegação Principal">
	<div class="toolbar__container" id="containerNavigation">
		<div class="toolbar__extern">
			<div class="toolbar__extern-left">
				<div class="toolbar__line"></div>
				<div class="toolbar__lineSocials">
					<a *ngFor="let item of socialIcons" target="_blank" [href]="item.url" class="toolbar__socials" matTooltip="{{item.name}}" matTooltipPosition="right">
						<span [attr.aria-label]="item.name">
							<img [src]="item.iconPath" alt="{{item.name}}" class="toolbar__socials-icon">
						</span>
					</a>	
				</div>
			</div>
		</div>

		<!-- Logo and Navigation Section -->
		<div class="toolbar__content">
			<!-- Logo Section -->
			<div class="toolbar__logo-section" (click)="reloadInRoot()">
				<svg width="32" height="32" viewBox="0 0 100 100" class="toolbar__logo" aria-hidden="true" aria-label="MewmewDev Logo">
				   <image href="../../assets/assets/images/icons/logo.svg" width="100" height="100"/>
				</svg>
				MewmewDev
			 </div>

			<span class="toolbar__spacer menu-spacer" aria-hidden="true"></span>

			<!-- Navigation Links Section-->
			<div class="toolbar__links-section" role="navigation">
				<!-- Big Screens Links -->
				<div class="bigScreen__links">
					<button *ngFor="let item of menuItems" mat-button (click)="navigate(item.route)" class="toolbar__button">
						<span [attr.aria-label]="item.name">
						  <span class="toolbar__menu-number">{{menuItems.indexOf(item) + 1 | number:'2.0-0'}}.</span>
						  <span class="toolbar__menu-text">{{item.name}}</span>
						</span>
					  </button>

					  <a mat-button role="button" class="toolbar__button" [attr.aria-label]="'Currículo'" href="https://drive.google.com/drive/folders/1z4r5m8AN2afei71LQ4TQ8lVcCBUqBjN6?usp=sharing" target="_blank">
						<span [attr.aria-label]="'Currículo'">
						  <span class="toolbar__menu-text cv">Currículo</span>
						</span>
					  </a>					  
				</div>

				<!-- Small Screen Links -->
				<div class="smallScreen__links">
					<button mat-button [matMenuTriggerFor]="menu">
					  <mat-icon>format_align_right</mat-icon>
					  <span class="sr-only">Menu</span>
					</button>                    
					<mat-menu #menu="matMenu">
					  <button *ngFor="let item of menuItems" mat-menu-item (click)="navigate(item.route)" class="toolbar__button" [attr.aria-label]="item.name">
						<span class="toolbar__menu-number">{{menuItems.indexOf(item) + 1 | number:'2.0-0'}}.</span>
						<span class="toolbar__menu-text">{{item.name}}</span>
					  </button>
					</mat-menu>
				  </div>
  
			</div>
		</div>
	</div>
</mat-toolbar>
