<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="footer-main">
				<div class="footer__content-main">
					<svg width="32" height="32" viewBox="0 0 100 100" class="footer__logo" role="img" aria-label="MewmewDev Logo">
						<image href="../../assets/assets/images/icons/logo.svg" width="100" height="100"/>
						MewmewDev
					</svg>
					<a href="mailto:Mewmewdevart&#64;gmail.com" class="footer__email">Mewmewdevart&#64;gmail.com</a>
				</div>
				<p class="footer__subtitle">Desenvolvedora de Software e Designer</p>
			</div>

			<a *ngIf="isHomePage" href="#home" class="scrollTop" role="button" aria-label="Retornar ao topo" tabindex="0">
				<span aria-hidden="true"></span>
			</a>
	
			<div class="footer__lineSocials">
				<a *ngFor="let item of socialIcons" target="_blank" [href]="item.url" class="footer__socials" matTooltip="{{item.name}}" matTooltipPosition="right">
					<span role="img" [attr.aria-label]="item.name">
						<img [src]="item.iconPath" alt="{{item.name}}" class="footer__socials-icon">
					</span>
				</a>	
			</div>
		</div>
	</div>
	<p class="text-center footer__copyright" role="contentinfo">© MewmewDev {{ currentYear }} </p>
</footer>
