@import '../../styles.sass'

footer
	background-color: $colorMainBackground
	.container
		max-width: 88.6% !important
		display: flex
		justify-content: space-between
		align-items: center
		padding-top: 4%
		padding-left: 15px
		flex-direction: row
		.footer__content-main
			display: flex
			flex-direction: row
			align-items: flex-start
			color: $colorSecondary
			gap: 10px
			svg
				width: 20px
			a
				color: $colorMainLight
		.footer__copyright, .footer__subtitle
			color: $colorTertiary
		.footer__lineSocials
			display: none
			gap: 10px
			.footer__socials
				img
					width: 32px
					height: 32px
					transition: transform 0.3s ease-in-out
				&:hover
					transform: scale(1.3)
				&:focus
					outline: 2px solid $colorMainLight

@media screen and (max-width: 900px)
	footer
		.container
			.footer__lineSocials
				display: flex