<div class="container-fluid" id="contact">
	<div class="container contact__info">
		<div class="row contact">
			<div class="col-md-12">
				<h1 class="contact_title">
					<span> 03. </span>
					Contact 
					<div class="line"></div>
				</h1>
				<p class="contact__description">
					Atualmente, estou em busca de oportunidades de desenvolvimento, e minha caixa de entrada está sempre aberta. Se você tiver alguma dúvida, oferta de trabalho ou só quiser dizer oi, farei o possível para responder!
				</p>
			</div>
			<div class="col-12 buttons">
				<button class="contact__button" aria-label="Contate Larissa">Enviar email</button>
				<button class="contact__button" aria-label="Contate Larissa">Ver o currículo</button>
			</div>
		</div>
	</div>
</div>
