<footer class="footer">
	<div class="container">
		<div class="footer__content-main">
			<svg width="32" height="32" viewBox="0 0 100 100" class="footer__logo">
				<image href="../../assets/assets/images/icons/logo.svg" width="100" height="100"/>
			</svg>
			MewmewDev
			<a href="mailto:Mewmewdevart&#64;gmail.com" class="footer__email">Mewmewdevart&#64;gmail.com</a>
		</div>
		<p class="footer__subtitle">Desenvolvedora e Designer</p>
		<p class="text-center footer__copyright">© MewmewDev {{ currentYear }} | Inspired by Brittany Chiang and Elias</p>
	</div>
</footer>
