<section class="container-fluid about" id="about" aria-labelledby="aboutHeading">
    <div class="container">
        <div class="row">
            <div class="d-flex flex-column flex-lg-row about__content">
                <div class="col-lg-8 col-md-12 order-lg-1 order-2 about__info">
                    <h1 class="about__title"><span> 01. </span>Sobre Mim <div class="line"></div></h1>
                    <p class="about__description">
                        Olá, eu sou a Larissa, também conhecida como Mewmew! <br><br>
                        Sou uma Desenvolvedora de Experiências, também chamada de Dev de Software autodidata baseada em São Paulo, Brasil. Consigo desenvolver experiências do zero, percorrendo todas as etapas do desenvolvimento, utilizando recursos modernos e amigáveis para o usuário. <br><br>
                        Meu foco é na qualidade durante todo o processo de desenvolvimento de uma nova aplicação. Utilizo bons métodos de código limpo, testes unitários e afins para tornar os projetos o mais acessíveis possível. Costumo dizer que estou sempre em desenvolvimento.
                    </p>
                    <button class="about__button" aria-label="Contate Larissa">Saiba mais</button>
                </div>
                <div class="col-lg-4 col-md-12 order-lg-2 order-1 about__image">
                    <img src="./../assets/assets/images/image.png" alt="Foto da Larissa : Mulher negra de cabelo cacheado">
                </div>
            </div>
        </div>
    </div>
</section>
