<app-navbar></app-navbar>
<section role="region" class="container-fluid" id="about" aria-labelledby="aboutHeading" aria-live="polite">
	<div class="container">
		<div class="row">
			<div class="d-flex flex-column flex-lg-row about__content">
				<div class="col-lg-8 col-md-12 order-lg-1 order-2 about__info">
					<h1 id="aboutHeading" class="about__title"><span> 01. </span>Sobre Mim <div class="line"></div></h1>
					<p class="about__description">
						Olá, eu sou a Larissa, também conhecida como Mewmew/Larcrist! <br><br>
						Sou uma pessoa criativa, empática, com um toque non-sense e apaixonada por desenvolver experiências digitais. Desenvolvo projetos do zero, percorrendo todas as etapas do desenvolvimento, utilizando recursos modernos e amigáveis para os usuários. <br><br>
						<a href="https://br.fiverr.com/mewmewdevart" target="_blank" aria-label="Freelancer em PixelArt">
							<span>Freelancer em PixelArt</span>
						</a> nas horas vagas, fundadora do projeto 
						<a href="https://www.linkedin.com/company/devsolidario" target="_blank" aria-label="DevSolidario">
							<span>DevSolidario</span>
						</a>  e participante ativa de comunidades Open-Source. <br> Meu foco é na qualidade de código, aplicando boas práticas de arquitetura de software ao desenvolver aplicações, seja na web, desktop ou em jogos. Gosto de compartilhar e receber conhecimento, sempre em busca de aprendizado. Costumo dizer que estou sempre em desenvolvimento e disposta a aprender sobre outras areas da tecnologia.
					</p>
				</div>
				<div class="col-lg-4 col-md-12 order-lg-2 order-1 about__image" >
					<img src="../../assets/assets/images/image1.webp" alt="Foto da Larissa: Mulher negra de cabelo cacheado">
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>