<app-navbar></app-navbar>

<!-- ======================================== ABOUT ME ======================================== -->
<section role="region" aria-labelledby="aboutHeading" aria-live="polite" class="container-fluid" id="about"
	tabindex="0">
	<div class="container">
		<div class="row">
			<div class="d-flex flex-column flex-lg-row about__content">
				<div class="col-lg-8 col-md-12 order-lg-1 order-2 about__info">
					<h1 id="aboutHeading" class="about__title" role="heading" aria-level="2"><span> 01. </span>Sobre Mim
						<div class="line"></div>
					</h1>
					<p class="about__description" role="paragraph">
						Olá, eu sou a Larissa, também conhecida como Mewmew/Larcrist! <br><br>

						Sou uma pessoa criativa, empática, com um toque non-sense e apaixonada por desenvolver
						experiências digitais. Desenvolvo projetos do zero, percorrendo todas as etapas do
						desenvolvimento, utilizando recursos modernos e amigáveis para os usuários.
						<br><br>
						Graduada em Jogos Digitais pela Faculdade Impacta Tecnologia em 2020, com bolsa integral
						financiada pelo Instituto IT Mídia e pelo Instituto da Oportunidade Social - TOTVS. Ex-estudante
						de Engenharia de Software na 42 Ecole, uma das melhores escolas de tecnologia no mundo.
						<br><br>
						Atuo como desenvolvedora Full Stack, com expertise em Front-end. Minhas habilidades incluem a
						implementação de layouts responsivos e acessiveis, a criação de APIs eficientes e a modelagem de
						bancos de dados. Além disso, sou <a href="https://br.fiverr.com/mewmewdevart" target="_blank"
							aria-label="Freelancer em PixelArt"><span>Freelancer em ilustrações em Pixel Art</span>
						</a>, criando identidades visuais personalizadas para streamers internacionais, e presto
						serviços de freelancer como Desenvolvedora Web.
					</p>
					<h2>Desenvolvedora de Software com habilidades diversas/</h2>
					<ul class="tech-list">
						<h4>Front-End: </h4>
						<div class="content">
							<div class="icon-container">
								<i class="fab fa-js"></i>
								<span class="icon-text">JavaScript: Linguagem para interatividade.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/typescript.svg" class="icon-img"
									alt="Ícone do TypeScript">
								<span class="icon-text">TypeScript: Tipagem estática para JavaScript.</span>
							</div>
							<div class="icon-container">
								<i class="fab fa-angular"></i>
								<span class="icon-text">Angular: Framework para SPAs.</span>
							</div>
							<div class="icon-container">
								<i class="fab fa-react"></i>
								<span class="icon-text">React: Framework para interfaces dinâmicas.</span>
							</div>
							<div class="icon-container">
								<i class="fab fa-css3-alt"></i>
								<span class="icon-text">CSS (SASS, SCSS): Estilização eficiente de páginas.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/bootstrap.svg" class="icon-img"
									alt="Ícone do Bootstrap">
								<span class="icon-text">Bootstrap: Framework para sites responsivos.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/tailwind.svg" class="icon-img"
									alt="Ícone do Tailwind CSS">
								<span class="icon-text">Tailwind: CSS utilitário para designs personalizados.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/po-ui.svg" class="icon-img"
									alt="Ícone do PO-UI">
								<span class="icon-text">PO-UI - TOTVS: Componentes prontos para Angular.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/material.svg" class="icon-img"
									alt="Ícone do Material UI">
								<span class="icon-text">Material UI: Componentes React com design moderno.</span>
							</div>
						</div>
					</ul>

					<ul class="tech-list">
						<h4>Back-End: </h4>
						<div class="content">
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/c.svg" class="icon-img" alt="Ícone do C">
								<span class="icon-text">C: Linguagem de programação de baixo nível.</span>
							</div>
							<div class="icon-container">
								<i class="fab fa-python"></i>
								<span class="icon-text">Python: Linguagem de programação versátil.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/advpl.svg" class="icon-img"
									alt="Ícone do Advpl">
								<span class="icon-text">Advpl: Linguagem de programação empresarial.</span>
							</div>
						</div>
					</ul>

					<ul class="tech-list">
						<h4>Automações e testes</h4>
						<div class="content">
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/bash.svg" class="icon-img"
									alt="Ícone do Bash Script">
								<span class="icon-text">Bash Script: Scripts para automação de tarefas.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/cypress.svg" class="icon-img"
									alt="Ícone do Cypress">
								<span class="icon-text">Cypress: Testes unitários para aplicações web.</span>
							</div>
						</div>
					</ul>

					<ul class="tech-list">
						<h4>Softwares e Plataformas:</h4>
						<div class="content">
							<div class="icon-container">
								<i class="fab fa-git"></i>
								<span class="icon-text">Git: Controle de versões de código.</span>
							</div>
							<div class="icon-container">
								<i class="fab fa-github"></i>
								<span class="icon-text">GitHub: Plataforma para colaboração em projetos.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/docker.svg" class="icon-img"
									alt="Ícone do Docker">
								<span class="icon-text">Docker: Contêineres para simplificar deploys.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/slack.svg" class="icon-img"
									alt="Ícone do Slack">
								<span class="icon-text">Slack: Comunicação em equipe eficiente.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/microsoft-office.svg" class="icon-img"
									alt="Ícone do Microsoft Office">
								<span class="icon-text">Microsoft Office: Ferramentas de produtividade.</span>
							</div>
							<div class="icon-container">
								<span class="icon-text">CI/CD: Integração e entrega contínuas.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/seo.svg" class="icon-img" alt="Ícone do SEO">
								<span class="icon-text">SEO: Otimização para motores de busca.</span>
							</div>
						</div>
					</ul>

					<ul class="tech-list">
						<h4>Sistemas Operacionais:</h4>
						<div class="content">
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/windows.svg" class="icon-img"
									alt="Ícone do Windows">
								<span class="icon-text">Windows: Sistema operacional popular.</span>
							</div>
							<div class="icon-container">
								<img src="../../assets/assets/images/icons/linux.svg" class="icon-img"
									alt="Ícone do Linux">
								<span class="icon-text">Linux: Sistema operacional de código aberto.</span>
							</div>
						</div>
					</ul>

					<h2>Experiência/</h2>
					<div class="experience">
						<h3>Ilustradora Freelancer</h3>
						<p>Freelancer – Remoto, Global</p>
						<p>Setembro 2021 – Atualmente</p>
						<ul>
							<li>Criou <strong>identidades visuais personalizadas</strong> para mais de <strong>100
									clientes</strong> em plataformas como <strong>Twitch, Facebook e YouTube</strong>,
								com uma avaliação de <strong>4.9/5</strong> no <strong>Fiverr</strong>.</li>
							<li>Colaborou com clientes em <strong>inglês, francês, espanhol, russo e árabe</strong>,
								adquirindo valiosos insights sobre diversas culturas e preferências.</li>
						</ul>
					</div>

					<div class="experience">
						<h3>Desenvolvedora Full Stack Júnior</h3>
						<p>Clarke Energia – Remoto, Brasil</p>
						<p>Março 2024 – Outubro 2024</p>
						<ul>
							<li>Desempenhou um papel fundamental no desenvolvimento do <strong>Marketplace</strong>, uma
								solução abrangente para simulação de energia e gestão de contratos.</li>
							<li>Contribuiu para a consistência de design na <strong>biblioteca de componentes Foton
									UI</strong>, padronizando a interface em mais de <strong>5 produtos</strong>.</li>
							<li>Desenvolveu de forma independente, em conjunto com as equipes de design e marketing, o
								<strong>site institucional da empresa</strong>, melhorando o engajamento dos usuários e
								a funcionalidade do site.</li>
						</ul>
						<p>Tecnologias: React, Tailwind, Python, CI/CD, Docker, Google Cloud</p>
					</div>

					<div class="experience">
						<h3>Desenvolvedora Javascript Junior</h3>
						<p>Ubíquo Techs – Remoto, Brasil</p>
						<p>Outubro 2023 – Dezembro 2023</p>
						<ul>
							<li>Desenvolveu experiências web imersivas usando o <strong>Software Ubox</strong>,
								contribuindo para as estratégias de engajamento de clientes da empresa.</li>
							<li>Focou em melhorar a usabilidade, escalabilidade e manutenção das aplicações web para
								garantir uma experiência de usuário mais suave.</li>
						</ul>
						<p>Tecnologias: JavaScript</p>
					</div>

					<div class="experience">
						<h3>Trainee - Programa Start&lt;Tech&gt;</h3>
						<p>Instituto da Oportunidade Social, TOTVS – São Paulo, Brasil</p>
						<p>Junho 2023 – Setembro 2023</p>
						<ul>
							<li>Desempenho de destaque em programa intensivo de treinamento no <strong>framework Angular
									(PO-UI)</strong>, demonstrando criatividade na resolução de atividades.</li>
							<li>Participou de sessões de mentoria, onde desenvolveu habilidades técnicas.</li>
						</ul>
					</div>

				</div>
				<div class="col-lg-4 col-md-12 order-lg-2 order-1 about__image">
					<img src="../../assets/assets/images/image1.webp"
						alt="Foto da Larissa: Mulher negra de cabelo cacheado interagindo com o camputador"
						loading="lazy" width="100%" height="auto" rel="preload">
				</div>
			</div>
			<div class="about__additional-info">
				<p role="paragraph">
					Amo desenvolver e sou uma participante ativa de comunidades open-source e de acessibilidade, além de
					defender o software livre. Costumo levar comigo a frase de que estou sempre em desenvolvimento!
				</p>
			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>