<section class="container-fluid home" id="home" aria-labelledby="homeHeading">
	<div class="container">
		<div class="row">
			<div class="d-flex justify-content-between home__main">
				<div class="col col-lg-7 home__introduction">
					<h1 id="homeHeading" class="home__title card-left__title">Larissa é uma <span class="home__subtitle card-left__subtitle">Designer</span> e <span class="home__subtitle card-left__subtitle">Desenvolvedora de Software</span></h1>
					<p class="home__description card-left__description">
						Ela cria experiências criativas, mesclando tecnologia com arte.<br>
						Apaixonada por tecnologia, dedica-se ao desenvolvimento de aplicações web e desktop, utilizando recursos modernos e amigáveis para o usuário. <br>
					</p>
					<button class="home__button card-left__button" aria-label="Contate Larissa">Entre em contato</button>
				</div>
				<div class="col col-lg-4 home__bar">
					<p class="home__bar-description">
						<svg fill="#c28eff" viewBox="0 0 32.00 32.00" xmlns="http://www.w3.org/2000/svg" stroke="#c28eff" stroke-width="0.8" aria-hidden="true" class="card-right__icon">
							<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
							<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
							<g id="SVGRepo_iconCarrier">
								<path d="M 6 6 L 6 26 L 26 26 L 26 6 L 6 6 z"></path>
							</g>
						</svg>
						<span class="home__bar-subtitle">Atualmente procurando por </span>
						<span class="home__bar-letter">&#160; Dev. Jobs</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>